<div class="recipe-info-container" id="">
    <div class="recipe-head">
      <p class="recipe-name"></p>
      <div class="recipe-head-details">
        <div class="recipe-head-left">
          <div class="inner">
          <div class="recipe-time-portion"></div>
          <div class="recipe-serving"><p></p></div>
          </div>
        </div>
        <a class="parent-website-link" href="/" target="_blank">
        <img class="parent-website no_select" src=""></img>
      </a>
      </div>
    </div>
    <div class="recipe-body">
      <div class="recipe-sidebar">
        <div class="image-banner">
          <h3 class="close-recipe-info"><< Back to List</h3>
          <img class="recipe-image no_select" src="" />
        </div>
        <div class="sponsor-container">
          <div class="sponsor-banner google" style="display: none"></div>
          <a class="sponsor-banner amazon" target="_blank" rel="noopener noreferrer">
            <h3></h3>
            <img class="amazon-logo" src="" />
            <img class="product-logo" src="" />
          </a>
        </div>
      </div>
      <div class="recipe-details">
        <div class="recipe-ingredients">
          <h2>Ingredients:</h2>
          <ul></ul>
        </div>
        <div class="recipe-instructions">
          <h2>Instructions:</h2>
          <ol></ol>
        </div>
      </div>
    </div>
    <div class="recipe-footer">
      <div class="recipe-links">
      <div class="link-container save-recipe"><i class="material-icons unhighlightable">bookmarks</i><a>Save</a></div>
      <div class="link-container copy-link"><i class="material-icons unhighlightable">link</i><a>Copy Link</a></div>
      <div class="link-container print-recipe"><i class="material-icons unhighlightable">print</i><a>Print</a></div>
    </div>
    </div>
  </div>
